/* Google Fonts */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
/*Default styles */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#F5F5F5;
}
#hero, #pillarsOfBangladesh, #theVisionOfFuture,
#yourOpinionMatter, #recentNews, #donateToday, #subscribeNewsletter{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
}
#nav{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 19px;
}
#blockQuote{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
}
/* Shared styles*/
/* buttons */
.nav-button{
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-weight: 600;
    font-size: 18px;
}
.hero-button{
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
.theVisionOfFuture-button1{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.theVisionOfFuture-button2{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.theVisionOfFuture-button3            {
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.yourOpinionMatter-button{
    padding: 10px 14px;
    border-radius: 4px;
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E;
    color: #0E0E0E;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.recentNews-button{
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
.donateToday-PrimaryButton1{
    padding: 40px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: rgb(14, 14, 14, 0.15);
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 40px;
}
.donateToday-primaryButton2{
    padding: 40px;
    border-radius: 16px;
    border: none;
    background-color: #C6E4D6;
    box-shadow: rgb(14, 14, 14, 0.15);
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 40px;
}
.donateToday-secondaryButton{
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    box-shadow: rgb(14, 14, 14, 0.1);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
.subscribeNewsletter-button{
    padding: 17px 34px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
/* Headings and paragraphs*/
.nav-heading, .footer_heading{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.hero-heading1{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.hero-heading2{
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
}

.pillarsOfBangladesh-heading1, .theVisionOfFuture-heading1, 
.yourOpinionMatter-heading1, .recentNews-heading1,
.donateToday-heading, .subscribeNewsletter-heading{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.pillarsOfBangladesh-heading2, .theVisionOfFuture-heading2, 
.blockQuote-heading{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.pillarsOfBangladesh-paragraph, .theVisionOfFuture-paragraph,
.recentNews-paragraph, .donateToday-paragraph, .subscribeNewsletter-paragraph{
    color: rgba(14, 14, 14, 0.7);
}

.blockQuote-paragraph1{
    color: rgba(14, 14, 14, 0.8);
}
.blockQuote-paragraph2{
    color: rgba(14, 14, 14, 0.6);
}

.yourOpinionMatter-heading2{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
.yourOpinionMatter-paragraph{
    font-weight: 600;
    color: #0E0E0E;
}

.recentNews-heading2{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.donateToday-paragraph2{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}


/* Nav Section */
.navContainer{
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
}

/* Hero Section */
.heroContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #C6E4D6;
    border: none;
    border-radius: 24px;
    padding: 60px;
    padding: 60px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) ;
}
.heroItem1 > p{
    padding-bottom: 16px;
}
.heroItem1 > h1{
    padding-bottom: 24px;
}

/* Pillars of Bangladesh Section*/
#pillarsOfBangladesh > h2{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.pillarsOfBangladesh-CardContainer{
    display: flex;
    gap: 24px;
}
.pillarsOfBangladesh-CardItem{
    background-color: #FFFFFF;
    border: none;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) ;
    margin-top: 32px;
}
.pillarsOfBangladesh-CardItem  img{
    margin-bottom: 24px;
}
.pillarsOfBangladesh-CardItem h4{
    padding-bottom: 12px;
}

/* The Vision of Future */
.theVisionOfFutureDescription h2{
    padding-bottom: 28px;
}
.theVisionOfFutureDescription{
    margin-bottom: 32px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.theVisionOfFuture-cardContainer{
    display: flex;
    gap: 24px;
}
.theVisionOfFuture-cardItem{
    height: 325px;
    width: 33.35%;
    padding: 32px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) ;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
.theVisionOfFutureCardItemColor1{
    background-color: rgba(84, 144, 245, 0.2);

}
.theVisionOfFutureCardItemColor2{
    background-color: #C6E4D6;
}
.theVisionOfFutureCardItemColor3{
    background-color: #F7EBCF;
}
.theVisionOfFuture-cardItem img{
    width: 64px;
    height: 64px;
}

/* Block Quote section */
.blockQuote-container{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 48px 24px;
    background-image: url(/assets/block\ quote.png);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 25px;
}
.blockQuote-container > h5{
    margin-top: 12px;
    margin-bottom: 4px;
}

/* YourOpinion Matters Section*/
.yourOpinionMatter-headingText > h2{
    margin-bottom: 24px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.yourOpinionMatter-tableContainer{
    padding: 32px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
table{
    width: 100%;
}
table, td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}
.tableFirstRowContainer{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #C6E4D6;
    padding-right: 30px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
tr > td{
    padding: 24px;

}
.tableData1{
    width: 84%;
}
.tableData2{
    width: auto;
    display: flex;
    justify-content: center; 
}
.tableData2 button{
    display: flex;
    align-items: center;
    gap: 12px;
}